* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section[id] {
    scroll-margin-top: 150px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e2e4e5;
    font-family: sans-serif;
    padding:0px;
}

.header {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(10, 10, 10, 0.938);
}

.nav {
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
   
}

.nav-link {
    color: white;
    text-decoration: none;
    max-width: 992px;
    margin: 0 auto;
}

.nav-menu {
    display: flex;
    margin-right: 60px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    line-height: 20px;
    margin: 20px;
    width: max-content;
}

.nav-menu-link {
    padding: 0px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {  
    background-color:cornflowerblue;
    transition: 0.5s;
    filter: brightness(110%);  
}

.nav-tooggle {
    color:rgb(27, 27, 27);
    background-color: none;
    border: none;
    font-size: 30px; 
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

@media (max-width: 768px){
    body {
       padding-top: 90px;
    }

    .header {
       height: 70px;
       background-color: #4682b4;
       box-shadow: 0px 2px 5px 2px rgb(61, 59, 59);
    }

    .logo  {
        font-size: 30px;
        padding: 0 20px;
        line-height: 60px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color:rgb(59, 58, 58);
        position: fixed;
        left: 30px;
        top: 70px;
        width: 100%;
        padding: 30px 0;

        height: calc(100% - 500px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-item {
        line-height: 80px;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active { 
        background: none;
        color:darkorange;
    }

    .nav-tooggle {
        display: block;
        height: 70px;
        background-color: #4682b4;
    }

    .nav-menu_visible {
        left: 0;
    }
    
    .nav-tooggle:focus:not(:focus-visible){
        outline: none;
    }
}

.card-sobremi {
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    width: 500px;
    height: 350px;
}

.text-perfil {
    width: 170px;
    height: 170px;
    margin: 15px;
    border: 10px chartreuse;

    -moz-border-radius: 80%;
    -webkit-border-radius: 700%;
    border-radius: 50%;
}

.text {
   display: flex;
   flex-direction: column;
   text-align: center;
   row-gap: 55px;
   
   padding: 20px;
   font-size: 15px;
   font-weight: 500;
   line-height: 1.5;
   margin: 40px auto; 
   padding-top: 50px;
}

.text-cont {
    font-size: 23px;
    color: #424242;
    margin: 20px;
}

.linea-text{
    border-top: 1px solid rgb(85, 83, 83);
    height: 1px;
    max-width: 500px;
    padding: 0;
    margin: 20px auto 0 auto;
}

.text-cont-just {
    font-size: 20px;
    color: dimgrey;
    margin: 30px; 
    border: 10px;
    padding: 10px; 
}

.butn {
    color: rgb(255, 255, 255);

}

.butn-cv {
    font-size: 18px;
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 0px;

    background-color: rgb(56, 152, 184);
}

span, a, a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px){
    .text {
        text-align: center;
        max-width: 768px;
        font-size: 20px;
    }
 
    .text-cont {
        color: rgb(46, 45, 45);
    }
 
    .text-cont-just {
        margin: 10px;
        color: rgb(66, 65, 65);
    }
}

.skills {
    max-width: 768px;
    margin: 0 auto;
}

.skills-title{
    font-size: 22px;
    color: #424242;
    text-align: center;
    padding-top: 20px;
    margin: 50px;
}

.skills-skill{
    background-color: white;
    color: #424242;
    font-size: 22px;
    font-weight: 500px;
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 20px;
}

.skills-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proyec-title {
    display: flex;
    justify-content: center;
    color: #424242;
    font-size: 22px;
    margin: 50px;
    padding-top: 60px;
}

.proyect-repo {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    padding-top: 10px;
}

.proyect-repos {
    width: 250px;
    height: 150px;
}

@media (max-width: 768px){
    .proyect {
        display: grid;
        padding: 10px;
        margin: 10px;
    }

    .proyec-title{
        display: flex;
        justify-content: center; 
    }

    .proyect-repo {
        display: flex;
        flex-direction: column;
        padding-left: 30PX;
        column-gap: 40px;
        padding-top: 10px;
    }
   
    .proyect-repos {
        width: 250px;
        height: 150px;
        margin: 25px;
    }
}

@media (max-width: 768px){
    .skills {
        display: flex;
        flex-direction: column;
    }
    .skills-title{
       padding-top: 60px;
    }

    .skills-list{
       display: flex;
       flex-direction: column;
       text-align: center;
    }
    
    .skills-skill{
        background-color: #4682b4;
        color: rgb(245, 240, 240);
        box-shadow: 0 4px 10px black;
        border-radius: 42px;
        margin: 15px;  
    }   
}

.social-icon-img{
    width: 30px;
    height: 40px;
    margin: 1px;
    padding: 2px;
}

.social {
    background-color: rgb(208, 226, 238);
    height: 136px;
    width: 100%;
}

.social-icon {
    display: flex;
    margin-right: 10px; 
}

.container-title {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    margin: 55px;
}

.container-conten {
   display: flex;
   justify-content: center;
   column-gap: 40px;
   margin: 50px;
}

.contact-tajet {
    width: 200px;
    height: 220px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
}

.contact-icon {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 120px;
    border: 20px;
    padding: 30px;
    margin: 25px;
}

.linea {
    border-top: 1px solid rgb(85, 83, 83);
    height: 1px;
    max-width: 180px;
    padding: 0;
    margin: 20px auto 0 auto;
}

.gmail {
    margin-left: 10px;
    font-size: 15px;
    color: rgb(119, 119, 126);
    padding-top: 15PX;
}

.phone {
    margin-left: 35px;
    font-size: 15px;
    color: rgb(119, 119, 126);
    padding-top: 15PX;
}

@media (max-width: 768px){
    .container-tittle {
        display: flex;
        justify-content: center;
    }

    .container-conten {
        display: flex;
        padding-left: 60PX;
        flex-direction: column;
        row-gap: 50px;  
    }
     
    .contact-tajet {
        width: 200px;
        height: 220px;
        background-color: white;
        border-radius: 5px 5px 5px 5px;
        column-gap: 40px;
    }
     
    .contact-icon {
        display: flex;
        justify-content: center;
        width: 150px;
        height: 120px;
        border: 20px;
        padding: 30px;
        margin: 25px;
    }
     
    .linea {
        border-top: 1px solid rgb(85, 83, 83);
        height: 1px;
        max-width: 200px;
        padding: 0;
        margin: 20px auto 0 auto;
    }
     
    .gmail {
        margin-left: 10px;
        font-size: 15px;
        color: rgb(119, 119, 126);
        padding-top: 15PX;
    }
     
    .phone {
        margin-left: 35px;
        font-size: 15px;
        color: rgb(119, 119, 126);
        padding-top: 15PX;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding: 10px;
    font-size: 16px;
    line-height: 2;
}

.copyright {
    display: flex;
    justify-content: center;
    background-color:  rgb(118, 138, 146);
    padding: 20px;
    color: white;
    font-size: 15px;
    box-shadow: 0px 1px 0px 2px rgb(165, 168, 168);
}

@media (max-width: 768px){
    .social {
        background-color: rgb(208, 226, 238);
        height: 150px;
        width: 100%;
    }

    .footer {
        display: flex;
        flex-direction: column;
        margin: 0px;  
        font-size: 16px;
        line-height: 2;
    }
    
    .copyright {
        display: grid;
        background-color:  rgb(129, 134, 136);
        padding: 25px;
        color: white;
        font-size: 18px;
    }
}

@media (max-width: 768px){
    .container-conten {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }

    .container-title {
        display: grid;
        justify-content: center;
        padding-top: 430px;

    }

    .container-target {
        box-shadow: 0.1px 0.1px 0.5px 0.5px rgb(61, 60, 60);
        border-radius: 10px;
        height: 250px;
        width: 250px;
        background-color: white;
    }
     
     .container-target-img {
        display: flex;
        justify-content: center;
        width: 70px;
        height: 100px;
    }
}